.App {
  text-align: center;
}


.transactions-amounts-negative {
background-color: red;
color: #000

}

.transactions-amounts-positive {
  background-color: #fff;
  color: green
}

.main-container {
background-color: wheat;
width: 87%;
margin: auto;
text-align: center;


}

#root {

  padding: 0.1rem;

}

.history {
  margin: auto;
  width: 70%;
  height:190px;
  overflow-y: scroll;
}